html{
	background-color: black;
}

h1{
	text-align: center;
	color: tomato;
	letter-spacing: 3px;
}

#foot{
	color: white;
	text-align: center;
	font-size: 18px;
	letter-spacing: 4px;
}

#heart{
	color: red;
}