html{
	background-color: black;
}

h1{
	text-align: center;
	color: tomato;
	letter-spacing: 3px;
}

canvas{
	border-radius: 30px;
	margin-left: 36.5vw;
}

#foot{
	color: white;
	text-align: center;
	font-size: 18px;
	letter-spacing: 4px;
}

#heart{
	color: red;
}

#nameLink{
	text-decoration: none;
	color: orange;
}

@media only screen and (max-width: 1024px){

canvas{
	margin-left: 30vw;
}

}

@media only screen and (max-width: 770px){

canvas{
	margin-left: 23vw;
}

}

@media only screen and (max-width: 500px){

canvas{
	margin-left: 1vw;
}

}

@media only screen and (max-width: 380px){

canvas{
	width: 350px;
	margin-left: 0.8vw;
}

}

@media only screen and (max-width: 320px){

canvas{
	width: 280px;
	height: 500px;
	margin-left: 2.5vw;
}

}